body{
margin:0;
background:#0f1720;
color:#cbd5e1;
font-family:Arial;
}

.sidebar{
width:220px;
height:100vh;
position:fixed;
background:#111827;
padding:10px;
}

.logo{
font-weight:bold;
padding:10px;
border-bottom:1px solid #334155;
margin-bottom:10px;
}

.account{
padding:10px;
cursor:pointer;
}

.account:hover{
background:#1f2937;
}

.active{
background:#334155;
}

.main{
margin-left:220px;
}

.toolbar{
padding:10px;
background:#111827;
}

button{
padding:10px 15px;
margin-right:10px;
border:none;
cursor:pointer;
background:#38bdf8;
}

.content{
display:flex;
gap:10px;
padding:10px;
}

.panel{
flex:1;
background:#111827;
padding:10px;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:8px;
border-bottom:1px solid #334155;
}

#inventoryList div{
padding:5px;
border-bottom:1px solid #334155;
}

/* MODAL */
.modal{
position:fixed;
top:0;left:0;
width:100%;height:100%;
background:rgba(0,0,0,0.6);
display:flex;
justify-content:center;
align-items:center;
}

.modal-box{
background:#111827;
padding:20px;
width:300px;
display:flex;
flex-direction:column;
gap:10px;
}

.hidden{
display:none;
}
